#svg {
    width: 30px;
    height: 30px;
}

.brdr {
    border: 2px solid black;
    border-radius: 5px;
}

#full_box {
    background-color: rgba(128, 128, 128, 0.137);
}

.head {
    font-size: 20px;
    font-weight: 600;
}

.acdn {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    color: #FF5300;
}

.acdn span {
    color: black;
}

.bg-pink {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}